# `Objective:-` Scrapping atleast 1500 records from online flight booking websites.

In [2]:
## importing the libraries:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import time

import re

## importing require exceptions:-
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,WebDriverException 

import warnings
warnings.filterwarnings('ignore')

## `Connecting to Chrome Driver`

In [133]:
driver=webdriver.Chrome('chromedriver.exe')
driver

## 1. Yatra.com

In [4]:
## fetching the  website:
driver.get('https://www.yatra.com/')
time.sleep(3)

## Clicking on search flight button
driver.find_element_by_xpath('//input[@value="Search Flights"]').click()

### Scrapping All The details

In [5]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [6]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

177 177 177 177 177 177 177 177

## Creating A DataFrame

In [20]:
date=['30/05/2022']
website=['Yatra.com']

In [21]:
## Addting other feature as well for Mumbai location:
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=date*177
df['Website_name']=website*177
df['Price']=Price

In [22]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Go First,02:40,04:50,New Delhi,Mumbai,2h 10m,Non Stop,30/05/2022,Yatra.com,"8,053"
1,Go First,06:00,08:10,New Delhi,Mumbai,2h 10m,Non Stop,30/05/2022,Yatra.com,"8,053"
2,Go First,07:00,09:15,New Delhi,Mumbai,2h 15m,Non Stop,30/05/2022,Yatra.com,"8,053"
3,Go First,18:45,21:00,New Delhi,Mumbai,2h 15m,Non Stop,30/05/2022,Yatra.com,"8,053"
4,Go First,22:45,01:00\n+ 1 day,New Delhi,Mumbai,2h 15m,Non Stop,30/05/2022,Yatra.com,"8,053"
...,...,...,...,...,...,...,...,...,...,...
172,Vistara,07:00,22:35,New Delhi,Mumbai,15h 35m,1 Stop,30/05/2022,Yatra.com,"20,445"
173,Go First,09:25,18:25,New Delhi,Mumbai,9h 00m,1 Stop,30/05/2022,Yatra.com,"22,634"
174,SpiceJet,09:50,16:10,New Delhi,Mumbai,6h 20m,1 Stop,30/05/2022,Yatra.com,"29,668"
175,SpiceJet,06:25,16:10,New Delhi,Mumbai,9h 45m,1 Stop,30/05/2022,Yatra.com,"29,668"
176,SpiceJet,09:25,16:10,New Delhi,Mumbai,6h 45m,1 Stop,30/05/2022,Yatra.com,"30,508"

## Saving In Local:

In [25]:
df.to_csv(r"E:\Flight_data\Yatra_del_mum.csv")

## Route:- Delhi to Bengaluru

In [28]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys

In [35]:
act=ActionChains(driver)

In [36]:
## fetching the  website:
driver.get('https://www.yatra.com/')
time.sleep(3)

## Select Destination as bengalore
driver.find_element_by_xpath('//input[@id="BE_flight_arrival_city"]').click()

driver.find_element_by_xpath('//input[@id="BE_flight_arrival_city"]').send_keys('Bangalore')

act.send_keys(Keys.ENTER).perform()

In [38]:
## now we will set Tour date

driver.find_element_by_xpath('//input[@id="BE_flight_origin_date"]').click()
## set the date
driver.find_element_by_xpath('//td[@data-date="28/05/2022"]').click()

In [39]:
### clicking on search button
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[3]/div[2]/div[1]/input').click()

In [40]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [41]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

162 162 162 162 162 162 162 162

## Making a DataFrame

In [42]:
date=['28/05/2022']
website=['Yatra.com']

In [43]:
## Addting other feature as well for Banglore location:
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=date*162
df['Website_name']=website*162
df['Price']=Price

In [44]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Go First,20:30,23:20,New Delhi,Bangalore,2h 50m,Non Stop,28/05/2022,Yatra.com,"8,893"
1,Go First,07:00,14:45,New Delhi,Bangalore,7h 45m,1 Stop,28/05/2022,Yatra.com,"8,893"
2,SpiceJet,15:10,23:25,New Delhi,Bangalore,8h 15m,1 Stop,28/05/2022,Yatra.com,"8,893"
3,Go First,06:00,14:45,New Delhi,Bangalore,8h 45m,1 Stop,28/05/2022,Yatra.com,"8,893"
4,Go First,22:45,07:40\n+ 1 day,New Delhi,Bangalore,8h 55m,1 Stop,28/05/2022,Yatra.com,"8,893"
...,...,...,...,...,...,...,...,...,...,...
157,SpiceJet,17:05,16:50\n+ 1 day,New Delhi,Bangalore,23h 45m,1 Stop,28/05/2022,Yatra.com,"28,214"
158,Air India,17:50,11:10\n+ 1 day,New Delhi,Bangalore,17h 20m,2 Stop(s),28/05/2022,Yatra.com,"28,215"
159,Air India,17:50,18:20\n+ 1 day,New Delhi,Bangalore,24h 30m,2 Stop(s),28/05/2022,Yatra.com,"28,215"
160,SpiceJet,13:05,12:55\n+ 1 day,New Delhi,Bangalore,23h 50m,1 Stop,28/05/2022,Yatra.com,"30,943"
161,Air Asia,10:05,18:10,New Delhi,Bangalore,8h 05m,2 Stop(s),28/05/2022,Yatra.com,"38,142"

In [45]:
## saving in local
df.to_csv(r"E:\Flight_data\Yatra_del_Bang.csv")

## Ahmedabad To Kolkata

In [46]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=28%2F05%2F2022&hb=0&noOfSegments=1&origin=AMD&originCountry=IN&type=O&unique=907584534153&version=1.1&viewName=normal')

In [47]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [48]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

90 90 90 90 90 90 90 90

## Making A DataFrame

In [49]:
## Addting other feature as well for Banglore location:
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=['28/05/2022']*90
df['Website_name']=website*90
df['Price']=Price

In [50]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Go First,18:25,00:30\n+ 1 day,Ahmedabad,Kolkata,6h 05m,1 Stop,28/05/2022,Yatra.com,"8,000"
1,Go First,00:40,08:30,Ahmedabad,Kolkata,7h 50m,1 Stop,28/05/2022,Yatra.com,"8,000"
2,Go First,13:45,00:30\n+ 1 day,Ahmedabad,Kolkata,10h 45m,1 Stop,28/05/2022,Yatra.com,"8,000"
3,Go First,19:50,09:45\n+ 1 day,Ahmedabad,Kolkata,13h 55m,1 Stop,28/05/2022,Yatra.com,"8,000"
4,Go First,18:25,08:30\n+ 1 day,Ahmedabad,Kolkata,14h 05m,1 Stop,28/05/2022,Yatra.com,"8,000"
...,...,...,...,...,...,...,...,...,...,...
85,Air India,21:00,19:10\n+ 1 day,Ahmedabad,Kolkata,22h 10m,2 Stop(s),28/05/2022,Yatra.com,"29,002"
86,Air India,21:00,19:10\n+ 1 day,Ahmedabad,Kolkata,22h 10m,3 Stop(s),28/05/2022,Yatra.com,"29,002"
87,Vistara,08:25,18:05,Ahmedabad,Kolkata,9h 40m,2 Stop(s),28/05/2022,Yatra.com,"29,317"
88,Vistara,08:25,18:05,Ahmedabad,Kolkata,9h 40m,2 Stop(s),28/05/2022,Yatra.com,"31,522"
89,Vistara,08:25,18:05,Ahmedabad,Kolkata,9h 40m,2 Stop(s),28/05/2022,Yatra.com,"31,522"

In [51]:
## saving in local
df.to_csv(r"E:\Flight_data\Yatra_Ahmeda_Kol.csv")

## Delhi To Cochin

In [52]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=COK&destinationCountry=IN&flexi=0&flight_depart_date=29%2F05%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=232269983613&version=1.1&viewName=normal')

In [53]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [54]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

69 69 69 69 69 69 69 69

In [56]:
## Addting other feature as well for Banglore location:
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=['29/05/2022']*69
df['Website_name']=website*69
df['Price']=Price

In [57]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Air Asia,21:40,06:20\n+ 1 day,New Delhi,Kochi,8h 40m,1 Stop,29/05/2022,Yatra.com,"12,046"
1,Air Asia,21:40,06:50\n+ 1 day,New Delhi,Kochi,9h 10m,1 Stop,29/05/2022,Yatra.com,"12,046"
2,Air Asia,21:00,06:20\n+ 1 day,New Delhi,Kochi,9h 20m,1 Stop,29/05/2022,Yatra.com,"12,046"
3,Air Asia,21:00,06:50\n+ 1 day,New Delhi,Kochi,9h 50m,1 Stop,29/05/2022,Yatra.com,"12,046"
4,Vistara,05:30,08:40,New Delhi,Kochi,3h 10m,Non Stop,29/05/2022,Yatra.com,"12,570"
...,...,...,...,...,...,...,...,...,...,...
64,IndiGo,12:55,18:25,New Delhi,Kochi,5h 30m,1 Stop,29/05/2022,Yatra.com,"27,322"
65,IndiGo,09:50,18:25,New Delhi,Kochi,8h 35m,1 Stop,29/05/2022,Yatra.com,"27,322"
66,Air India,10:15,19:15,New Delhi,Kochi,9h 00m,2 Stop(s),29/05/2022,Yatra.com,"28,110"
67,Go First,14:00,19:05,New Delhi,Kochi,5h 05m,1 Stop,29/05/2022,Yatra.com,"30,128"
68,Air Asia,15:30,22:20,New Delhi,Kochi,6h 50m,2 Stop(s),29/05/2022,Yatra.com,"31,002"

In [58]:
## saving in local
df.to_csv(r"E:\Flight_data\Yatra_Delhi_Cochi.csv")

## Kotkata To Banglore:

In [62]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [68]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=29%2F05%2F2022&hb=0&noOfSegments=1&origin=CCU&originCountry=IN&type=O&unique=742701997202&version=1.1&viewName=normal')
time.sleep(5)

In [69]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [70]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

129 129 129 129 129 129 129 129

## Create a DataFrame

In [71]:
## Addting other feature as well for Banglore location:
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=['29/05/2022']*129
df['Website_name']=website*129
df['Price']=Price

In [72]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Go First,08:55,17:35,Kolkata,Bangalore,8h 40m,1 Stop,29/05/2022,Yatra.com,"8,606"
1,Go First,06:30,15:35,Kolkata,Bangalore,9h 05m,1 Stop,29/05/2022,Yatra.com,"8,606"
2,SpiceJet,21:25,09:00\n+ 1 day,Kolkata,Bangalore,11h 35m,1 Stop,29/05/2022,Yatra.com,"8,606"
3,Go First,06:30,21:45,Kolkata,Bangalore,15h 15m,1 Stop,29/05/2022,Yatra.com,"8,606"
4,SpiceJet,21:30,22:30\n+ 1 day,Kolkata,Bangalore,25h 00m,1 Stop,29/05/2022,Yatra.com,"8,606"
...,...,...,...,...,...,...,...,...,...,...
124,Vistara,17:35,08:50\n+ 1 day,Kolkata,Bangalore,15h 15m,1 Stop,29/05/2022,Yatra.com,"29,922"
125,Vistara,10:15,17:05,Kolkata,Bangalore,6h 50m,1 Stop,29/05/2022,Yatra.com,"32,232"
126,Vistara,10:15,18:50,Kolkata,Bangalore,8h 35m,1 Stop,29/05/2022,Yatra.com,"32,232"
127,Vistara,10:15,20:25,Kolkata,Bangalore,10h 10m,1 Stop,29/05/2022,Yatra.com,"32,232"
128,Air Asia,13:15,20:45,Kolkata,Bangalore,7h 30m,2 Stop(s),29/05/2022,Yatra.com,"33,804"

## Chennai To Delhi

In [73]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=30%2F05%2F2022&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=1266201265440&version=1.1&viewName=normal')
time.sleep(5)

In [74]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [75]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

120 120 120 120 120 120 120 120

## Creating A DATAFRAME

In [76]:
## Addting features in dataframe
df1=pd.DataFrame()
df1['Flight_name']=Flight_name
df1['Departure_time']=Departure_time
df1['Arrival_time']=Arrival_time
df1['Source']=Source
df1['Destination']=Destination
df1['Duration']=Duration
df1['Total_stops']=Total_stops
df1['Date_of_journey']=['30/05/2022']*120
df1['Website_name']=website*120
df1['Price']=Price

In [77]:
df1

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,SpiceJet,21:40,00:25\n+ 1 day,Chennai,New Delhi,2h 45m,Non Stop,30/05/2022,Yatra.com,"8,982"
1,SpiceJet,06:05,08:55,Chennai,New Delhi,2h 50m,Non Stop,30/05/2022,Yatra.com,"8,982"
2,SpiceJet,06:40,17:55,Chennai,New Delhi,11h 15m,1 Stop,30/05/2022,Yatra.com,"8,982"
3,SpiceJet,22:00,09:35\n+ 1 day,Chennai,New Delhi,11h 35m,1 Stop,30/05/2022,Yatra.com,"8,982"
4,SpiceJet,19:40,08:50\n+ 1 day,Chennai,New Delhi,13h 10m,1 Stop,30/05/2022,Yatra.com,"8,982"
...,...,...,...,...,...,...,...,...,...,...
115,Vistara,07:00,15:40,Chennai,New Delhi,8h 40m,2 Stop(s),30/05/2022,Yatra.com,"20,483"
116,Vistara,12:30,21:35,Chennai,New Delhi,9h 05m,2 Stop(s),30/05/2022,Yatra.com,"20,714"
117,Air India,05:05,14:55,Chennai,New Delhi,9h 50m,1 Stop,30/05/2022,Yatra.com,"22,600"
118,Vistara,07:00,16:20,Chennai,New Delhi,9h 20m,2 Stop(s),30/05/2022,Yatra.com,"22,705"
119,Vistara,07:00,15:20,Chennai,New Delhi,8h 20m,2 Stop(s),30/05/2022,Yatra.com,"36,913"

## Delhi To Goa

In [78]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date=30%2F05%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=448117866535&version=1.1&viewName=normal')
time.sleep(5)

In [79]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [80]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

143 143 143 143 143 143 143 143

## Creating A DATAFRAME

In [81]:
## Addting features in dataframe
df2=pd.DataFrame()
df2['Flight_name']=Flight_name
df2['Departure_time']=Departure_time
df2['Arrival_time']=Arrival_time
df2['Source']=Source
df2['Destination']=Destination
df2['Duration']=Duration
df2['Total_stops']=Total_stops
df2['Date_of_journey']=['30/05/2022']*143
df2['Website_name']=website*143
df2['Price']=Price

In [82]:
df2

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Air Asia,04:25,17:15,New Delhi,Goa,12h 50m,1 Stop,30/05/2022,Yatra.com,"8,892"
1,SpiceJet,12:05,14:25,New Delhi,Goa,2h 20m,Non Stop,30/05/2022,Yatra.com,"8,893"
2,SpiceJet,15:10,17:40,New Delhi,Goa,2h 30m,Non Stop,30/05/2022,Yatra.com,"8,893"
3,SpiceJet,19:55,22:30,New Delhi,Goa,2h 35m,Non Stop,30/05/2022,Yatra.com,"8,893"
4,Go First,10:40,13:30,New Delhi,Goa,2h 50m,Non Stop,30/05/2022,Yatra.com,"8,893"
...,...,...,...,...,...,...,...,...,...,...
138,Vistara,10:25,14:05\n+ 1 day,New Delhi,Goa,27h 40m,2 Stop(s),30/05/2022,Yatra.com,"21,886"
139,Vistara,10:25,14:05\n+ 1 day,New Delhi,Goa,27h 40m,2 Stop(s),30/05/2022,Yatra.com,"21,886"
140,Vistara,07:05,14:05\n+ 1 day,New Delhi,Goa,31h 00m,2 Stop(s),30/05/2022,Yatra.com,"23,146"
141,Vistara,07:05,14:05\n+ 1 day,New Delhi,Goa,31h 00m,2 Stop(s),30/05/2022,Yatra.com,"23,146"
142,Air India,17:15,06:20\n+ 1 day,New Delhi,Goa,13h 05m,2 Stop(s),30/05/2022,Yatra.com,"26,220"

## Mumbai To Guwahati

In [85]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GAU&destinationCountry=IN&flexi=0&flight_depart_date=30%2F05%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1195958356608&version=1.1&viewName=normal')
time.sleep(5)

In [86]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [87]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

107 107 107 107 107 107 107 107

## Creating A DATAFRAME

In [88]:
## Addting features in dataframe
df3=pd.DataFrame()
df3['Flight_name']=Flight_name
df3['Departure_time']=Departure_time
df3['Arrival_time']=Arrival_time
df3['Source']=Source
df3['Destination']=Destination
df3['Duration']=Duration
df3['Total_stops']=Total_stops
df3['Date_of_journey']=['30/05/2022']*107
df3['Website_name']=website*107
df3['Price']=Price

In [89]:
df3

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,SpiceJet,18:55,21:45,Mumbai,Guwahati,2h 50m,Non Stop,30/05/2022,Yatra.com,"9,578"
1,Air Asia,04:45,07:55,Mumbai,Guwahati,3h 10m,Non Stop,30/05/2022,Yatra.com,"9,578"
2,IndiGo,05:55,09:05,Mumbai,Guwahati,3h 10m,Non Stop,30/05/2022,Yatra.com,"9,578"
3,IndiGo,19:45,22:55,Mumbai,Guwahati,3h 10m,Non Stop,30/05/2022,Yatra.com,"9,578"
4,Air Asia,07:20,15:10,Mumbai,Guwahati,7h 50m,1 Stop,30/05/2022,Yatra.com,"9,578"
...,...,...,...,...,...,...,...,...,...,...
102,Air India,19:00,13:20\n+ 1 day,Mumbai,Guwahati,18h 20m,2 Stop(s),30/05/2022,Yatra.com,"23,078"
103,Vistara,07:00,17:45,Mumbai,Guwahati,10h 45m,2 Stop(s),30/05/2022,Yatra.com,"23,260"
104,Vistara,07:00,17:45,Mumbai,Guwahati,10h 45m,2 Stop(s),30/05/2022,Yatra.com,"23,260"
105,Air India,06:00,15:15,Mumbai,Guwahati,9h 15m,2 Stop(s),30/05/2022,Yatra.com,"24,155"
106,Vistara,17:35,12:30\n+ 1 day,Mumbai,Guwahati,18h 55m,2 Stop(s),30/05/2022,Yatra.com,"26,778"

## NewDelhi to Chennai

In [ ]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=31%2F05%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1316896376185&version=1.1&viewName=normal')
time.sleep(5)

In [90]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [91]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

117 117 117 117 117 117 117 117

## Creating A DATAFRAME

In [92]:
## Addting features in dataframe
df4=pd.DataFrame()
df4['Flight_name']=Flight_name
df4['Departure_time']=Departure_time
df4['Arrival_time']=Arrival_time
df4['Source']=Source
df4['Destination']=Destination
df4['Duration']=Duration
df4['Total_stops']=Total_stops
df4['Date_of_journey']=['31/05/2022']*117
df4['Website_name']=website*117
df4['Price']=Price

In [93]:
df4

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,SpiceJet,18:25,21:10,New Delhi,Chennai,2h 45m,Non Stop,31/05/2022,Yatra.com,"8,893"
1,SpiceJet,05:45,08:50,New Delhi,Chennai,3h 05m,Non Stop,31/05/2022,Yatra.com,"8,893"
2,Go First,20:55,07:40\n+ 1 day,New Delhi,Chennai,10h 45m,1 Stop,31/05/2022,Yatra.com,"8,893"
3,Go First,20:45,07:40\n+ 1 day,New Delhi,Chennai,10h 55m,1 Stop,31/05/2022,Yatra.com,"8,893"
4,SpiceJet,07:05,18:20,New Delhi,Chennai,11h 15m,1 Stop,31/05/2022,Yatra.com,"8,893"
...,...,...,...,...,...,...,...,...,...,...
112,Air India,16:45,19:15\n+ 1 day,New Delhi,Chennai,26h 30m,1 Stop,31/05/2022,Yatra.com,"23,385"
113,Vistara,15:55,08:50\n+ 1 day,New Delhi,Chennai,16h 55m,2 Stop(s),31/05/2022,Yatra.com,"23,608"
114,Air Asia,08:10,17:15,New Delhi,Chennai,9h 05m,1 Stop,31/05/2022,Yatra.com,"24,986"
115,Vistara,14:15,23:05,New Delhi,Chennai,8h 50m,2 Stop(s),31/05/2022,Yatra.com,"25,771"
116,Air India,16:50,07:25\n+ 1 day,New Delhi,Chennai,14h 35m,2 Stop(s),31/05/2022,Yatra.com,"31,260"

## Delhi To Hyderabad

In [94]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=31%2F05%2F2022&hb=0&noOfSegments=1&origin=HYD&originCountry=IN&type=O&unique=266828422091&version=1.1&viewName=normal')
time.sleep(5)

In [95]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [96]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

123 123 123 123 123 123 123 123

## Creating A DATAFRAME

In [97]:
## Addting features in dataframe
df5=pd.DataFrame()
df5['Flight_name']=Flight_name
df5['Departure_time']=Departure_time
df5['Arrival_time']=Arrival_time
df5['Source']=Source
df5['Destination']=Destination
df5['Duration']=Duration
df5['Total_stops']=Total_stops
df5['Date_of_journey']=['31/05/2022']*123
df5['Website_name']=website*123
df5['Price']=Price

In [98]:
df5

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Go First,06:00,08:20,Hyderabad,New Delhi,2h 20m,Non Stop,31/05/2022,Yatra.com,"8,466"
1,Go First,17:45,20:05,Hyderabad,New Delhi,2h 20m,Non Stop,31/05/2022,Yatra.com,"8,466"
2,SpiceJet,06:10,08:40,Hyderabad,New Delhi,2h 30m,Non Stop,31/05/2022,Yatra.com,"8,466"
3,SpiceJet,19:10,01:25\n+ 1 day,Hyderabad,New Delhi,6h 15m,1 Stop,31/05/2022,Yatra.com,"8,466"
4,Go First,06:30,15:10,Hyderabad,New Delhi,8h 40m,1 Stop,31/05/2022,Yatra.com,"8,466"
...,...,...,...,...,...,...,...,...,...,...
118,Vistara,11:35,16:30,Hyderabad,New Delhi,4h 55m,1 Stop,31/05/2022,Yatra.com,"16,028"
119,Vistara,11:35,19:50,Hyderabad,New Delhi,8h 15m,1 Stop,31/05/2022,Yatra.com,"16,028"
120,Air India,16:45,15:40\n+ 1 day,Hyderabad,New Delhi,22h 55m,1 Stop,31/05/2022,Yatra.com,"16,028"
121,Air India,05:55,13:30,Hyderabad,New Delhi,7h 35m,1 Stop,31/05/2022,Yatra.com,"16,133"
122,Air India,05:55,22:15,Hyderabad,New Delhi,16h 20m,1 Stop,31/05/2022,Yatra.com,"16,133"

## Mumbai to  Kochi

In [99]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=COK&destinationCountry=IN&flexi=0&flight_depart_date=31%2F05%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=839552271162&version=1.1&viewName=normal')
time.sleep(5)

In [100]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [101]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

93 93 93 93 93 93 93 93

## Creating A DATAFRAME

In [102]:
## Addting features in dataframe
df6=pd.DataFrame()
df6['Flight_name']=Flight_name
df6['Departure_time']=Departure_time
df6['Arrival_time']=Arrival_time
df6['Source']=Source
df6['Destination']=Destination
df6['Duration']=Duration
df6['Total_stops']=Total_stops
df6['Date_of_journey']=['31/05/2022']*93
df6['Website_name']=website*93
df6['Price']=Price

In [103]:
df6

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,IndiGo,16:45,22:25,Mumbai,Kochi,5h 40m,1 Stop,31/05/2022,Yatra.com,"8,043"
1,IndiGo,05:35,11:55,Mumbai,Kochi,6h 20m,1 Stop,31/05/2022,Yatra.com,"8,043"
2,Air Asia,18:10,22:20,Mumbai,Kochi,4h 10m,1 Stop,31/05/2022,Yatra.com,"8,044"
3,Air Asia,22:00,06:20\n+ 1 day,Mumbai,Kochi,8h 20m,1 Stop,31/05/2022,Yatra.com,"8,044"
4,Air Asia,22:00,06:50\n+ 1 day,Mumbai,Kochi,8h 50m,1 Stop,31/05/2022,Yatra.com,"8,044"
...,...,...,...,...,...,...,...,...,...,...
88,Vistara,07:00,19:10,Mumbai,Kochi,12h 10m,2 Stop(s),31/05/2022,Yatra.com,"31,038"
89,Vistara,06:45,19:10,Mumbai,Kochi,12h 25m,2 Stop(s),31/05/2022,Yatra.com,"31,248"
90,Vistara,09:05,19:10,Mumbai,Kochi,10h 05m,2 Stop(s),31/05/2022,Yatra.com,"32,508"
91,Air India,06:40,20:10,Mumbai,Kochi,13h 30m,2 Stop(s),31/05/2022,Yatra.com,"33,558"
92,Air India,06:00,20:10,Mumbai,Kochi,14h 10m,2 Stop(s),31/05/2022,Yatra.com,"34,713"

## AmritSar to Nagpur

In [104]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=NAG&destinationCountry=IN&flexi=0&flight_depart_date=31%2F05%2F2022&hb=0&noOfSegments=1&origin=ATQ&originCountry=IN&type=O&unique=1240108655446&version=1.1&viewName=normal')
time.sleep(5)

In [105]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [106]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

10 10 10 10 10 10 10 10

## Creating A DATAFRAME

In [107]:
## Addting features in dataframe
df7=pd.DataFrame()
df7['Flight_name']=Flight_name
df7['Departure_time']=Departure_time
df7['Arrival_time']=Arrival_time
df7['Source']=Source
df7['Destination']=Destination
df7['Duration']=Duration
df7['Total_stops']=Total_stops
df7['Date_of_journey']=['31/05/2022']*10
df7['Website_name']=website*10
df7['Price']=Price

## Jaipur to Chennai

In [110]:
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=31%2F05%2F2022&hb=0&noOfSegments=1&origin=JAI&originCountry=IN&type=O&unique=618930728800&version=1.1&viewName=normal')
time.sleep(5)

In [111]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]

try:
    tags=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@autom="departureTimeLabel"]')
    for i in tags:
        Departure_time.append(i.text)
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="arrivalTimeLabel"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2!=0:
            Source.append(i.text)
        count+=1
except NoSuchElementException:
        Source.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
    count=1
    for i in tags:
        if count%2==0:
            Destination.append(i.text)
        count+=1
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//p[@autom="durationLabel"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [112]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

39 39 39 39 39 39 39 39

## Creating A DATAFRAME

In [113]:
## Addting features in dataframe
df8=pd.DataFrame()
df8['Flight_name']=Flight_name
df8['Departure_time']=Departure_time
df8['Arrival_time']=Arrival_time
df8['Source']=Source
df8['Destination']=Destination
df8['Duration']=Duration
df8['Total_stops']=Total_stops
df8['Date_of_journey']=['31/05/2022']*39
df8['Website_name']=website*39
df8['Price']=Price

## `Concatinating all the  DataFrames`

In [114]:
df_new=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8],axis=0)
df_new

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Go First,08:55,17:35,Kolkata,Bangalore,8h 40m,1 Stop,29/05/2022,Yatra.com,"8,606"
1,Go First,06:30,15:35,Kolkata,Bangalore,9h 05m,1 Stop,29/05/2022,Yatra.com,"8,606"
2,SpiceJet,21:25,09:00\n+ 1 day,Kolkata,Bangalore,11h 35m,1 Stop,29/05/2022,Yatra.com,"8,606"
3,Go First,06:30,21:45,Kolkata,Bangalore,15h 15m,1 Stop,29/05/2022,Yatra.com,"8,606"
4,SpiceJet,21:30,22:30\n+ 1 day,Kolkata,Bangalore,25h 00m,1 Stop,29/05/2022,Yatra.com,"8,606"
...,...,...,...,...,...,...,...,...,...,...
34,Air India,14:00,08:55\n+ 1 day,Jaipur,Chennai,18h 55m,2 Stop(s),31/05/2022,Yatra.com,"19,510"
35,Air India,14:00,08:55\n+ 1 day,Jaipur,Chennai,18h 55m,2 Stop(s),31/05/2022,Yatra.com,"19,510"
36,IndiGo,12:05,18:30,Jaipur,Chennai,6h 25m,1 Stop,31/05/2022,Yatra.com,"20,651"
37,IndiGo,12:05,19:40,Jaipur,Chennai,7h 35m,1 Stop,31/05/2022,Yatra.com,"21,964"
38,IndiGo,12:05,20:55,Jaipur,Chennai,8h 50m,1 Stop,31/05/2022,Yatra.com,"26,059"

### Saving in Local

In [222]:
## saving in local
df_new.to_csv(r"E:\Flight_data\Yatra_Total_data.csv")

# 2. `FlipKart.com`

## Delhi to Hyderabad

In [143]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=DEL-HYD-30052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Form')
time.sleep(3)

In [165]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [166]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

116 116 116 0 0 116 116 116

## Creating A DataFrame

In [167]:
## Addting features in dataframe
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=['New Delhi']*116
df['Destination']=['Hyderabad']*116
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=['30/05/2022']*116
df['Website_name']=['Flipkart.com']*116
df['Price']=Price

In [168]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,GO FIRST,08:30,16:35,New Delhi,Hyderabad,8h 5m,1 stop - LKO,30/05/2022,Flipkart.com,"₹8,053"
1,SpiceJet,11:55,21:00,New Delhi,Hyderabad,9h 5m,1 stop - JRG,30/05/2022,Flipkart.com,"₹8,053"
2,GO FIRST,07:00,19:50,New Delhi,Hyderabad,12h 50m,1 stop - BOM,30/05/2022,Flipkart.com,"₹8,053"
3,GO FIRST,06:00,19:50,New Delhi,Hyderabad,13h 50m,1 stop - BOM,30/05/2022,Flipkart.com,"₹8,053"
4,IndiGo,19:30,21:40,New Delhi,Hyderabad,2h 10m,Non stop,30/05/2022,Flipkart.com,"₹8,264"
...,...,...,...,...,...,...,...,...,...,...
111,SpiceJet,09:35,18:55,New Delhi,Hyderabad,9h 20m,1 stop - SAG,30/05/2022,Flipkart.com,"₹22,071"
112,Air India,16:45,21:15,New Delhi,Hyderabad,1d 4h 30m,1 stop - CCU,30/05/2022,Flipkart.com,"₹22,860"
113,Air India,06:50,21:15,New Delhi,Hyderabad,14h 25m,1 stop - CCU,30/05/2022,Flipkart.com,"₹24,435"
114,Air India,09:45,16:00,New Delhi,Hyderabad,1d 6h 15m,"2 stops - BLR, BBI",30/05/2022,Flipkart.com,"₹25,590"
115,Air Asia,13:00,19:45,New Delhi,Hyderabad,6h 45m,"2 stops - BOM, GOI",30/05/2022,Flipkart.com,"₹32,106"

## Mumbai to Chennai

In [169]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=BOM-MAA-30052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(3)

In [172]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [173]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

62 62 62 0 0 62 62 62

## Creating A DataFrame

In [174]:
## Addting features in dataframe
df1=pd.DataFrame()
df1['Flight_name']=Flight_name
df1['Departure_time']=Departure_time
df1['Arrival_time']=Arrival_time
df1['Source']=['Mumbai']*62
df1['Destination']=['Chennai']*62
df1['Duration']=Duration
df1['Total_stops']=Total_stops
df1['Date_of_journey']=['30/05/2022']*62
df1['Website_name']=['Flipkart.com']*62
df1['Price']=Price

## Kolkata To Guwahati:

In [ ]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=CCU-GAU-31052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(3)

In [175]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [176]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

30 30 30 0 0 30 30 30

## Creating A DataFrame

In [177]:
## Addting features in dataframe
df3=pd.DataFrame()
df3['Flight_name']=Flight_name
df3['Departure_time']=Departure_time
df3['Arrival_time']=Arrival_time
df3['Source']=['Kolkata']*30
df3['Destination']=['Guwahati']*30
df3['Duration']=Duration
df3['Total_stops']=Total_stops
df3['Date_of_journey']=['31/05/2022']*30
df3['Website_name']=['Flipkart.com']*30
df3['Price']=Price

## Mumbai to Goa:

In [178]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=BOM-GOI-31052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(3)

In [179]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [180]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

68 68 68 0 0 68 68 68

## Creating A DataFrame

In [181]:
## Addting features in dataframe
df4=pd.DataFrame()
df4['Flight_name']=Flight_name
df4['Departure_time']=Departure_time
df4['Arrival_time']=Arrival_time
df4['Source']=['Mumbai']*68
df4['Destination']=['Kolkata']*68
df4['Duration']=Duration
df4['Total_stops']=Total_stops
df4['Date_of_journey']=['31/05/2022']*68
df4['Website_name']=['Flipkart.com']*68
df4['Price']=Price

## Ahmedabad to Kolkata:

In [182]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=AMD-CCU-29052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(3)

In [183]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [184]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

47 47 47 0 0 47 47 47

## Creating A DataFrame

In [185]:
## Addting features in dataframe
df5=pd.DataFrame()
df5['Flight_name']=Flight_name
df5['Departure_time']=Departure_time
df5['Arrival_time']=Arrival_time
df5['Source']=['Ahmedabad']*47
df5['Destination']=['Kolkata']*47
df5['Duration']=Duration
df5['Total_stops']=Total_stops
df5['Date_of_journey']=['29/05/2022']*47
df5['Website_name']=['Flipkart.com']*47
df5['Price']=Price

## Delhi To jaipur:

In [ ]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=DEL-JAI-29052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(3)

In [186]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [187]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

21 21 21 0 0 21 21 21

## Creating A DataFrame

In [188]:
## Addting features in dataframe
df6=pd.DataFrame()
df6['Flight_name']=Flight_name
df6['Departure_time']=Departure_time
df6['Arrival_time']=Arrival_time
df6['Source']=['New Delhi']*21
df6['Destination']=['Jaipur']*21
df6['Duration']=Duration
df6['Total_stops']=Total_stops
df6['Date_of_journey']=['29/05/2022']*21
df6['Website_name']=['Flipkart.com']*21
df6['Price']=Price

## Mumbai to Chennai:

In [189]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=BOM-MAA-29052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(2)

In [190]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [191]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

56 56 56 0 0 56 56 56

## Creating A DataFrame

In [192]:
## Addting features in dataframe
df7=pd.DataFrame()
df7['Flight_name']=Flight_name
df7['Departure_time']=Departure_time
df7['Arrival_time']=Arrival_time
df7['Source']=['Mumbai']*56
df7['Destination']=['Chennai']*56
df7['Duration']=Duration
df7['Total_stops']=Total_stops
df7['Date_of_journey']=['29/05/2022']*56
df7['Website_name']=['Flipkart.com']*56
df7['Price']=Price

## Mumbai to Guwahati:

In [193]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=BOM-GAU-30052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(3)

In [194]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [195]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

59 59 59 0 0 59 59 59

## Creating A DataFrame

In [196]:
## Addting features in dataframe
df8=pd.DataFrame()
df8['Flight_name']=Flight_name
df8['Departure_time']=Departure_time
df8['Arrival_time']=Arrival_time
df8['Source']=['Mumbai']*59
df8['Destination']=['Guwahati']*59
df8['Duration']=Duration
df8['Total_stops']=Total_stops
df8['Date_of_journey']=['30/05/2022']*59
df8['Website_name']=['Flipkart.com']*59
df8['Price']=Price

## Banglore to Delhi:

In [200]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=BLR-DEL-30052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(2)

In [201]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [202]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

185 185 185 0 0 185 185 185

## Creating A DATAFRAME:

In [203]:
## Addting features in dataframe
df9=pd.DataFrame()
df9['Flight_name']=Flight_name
df9['Departure_time']=Departure_time
df9['Arrival_time']=Arrival_time
df9['Source']=['Banglore']*185
df9['Destination']=['Delhi']*185
df9['Duration']=Duration
df9['Total_stops']=Total_stops
df9['Date_of_journey']=['30/05/2022']*185
df9['Website_name']=['Flipkart.com']*185
df9['Price']=Price

## Lucknow to Kolkata:

In [ ]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=LKO-CCU-31052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')

In [204]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [205]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

25 25 25 0 0 25 25 25

## Creating A DATAFRAME:

In [206]:
## Addting features in dataframe
df10=pd.DataFrame()
df10['Flight_name']=Flight_name
df10['Departure_time']=Departure_time
df10['Arrival_time']=Arrival_time
df10['Source']=['Lucknow']*25
df10['Destination']=['Kolkata']*25
df10['Duration']=Duration
df10['Total_stops']=Total_stops
df10['Date_of_journey']=['31/05/2022']*25
df10['Website_name']=['Flipkart.com']*25
df10['Price']=Price

## Lucknow to Kolkata (28May)

In [207]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=LKO-CCU-28052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')

In [208]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [209]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

25 25 25 0 0 25 25 25

## Creating A DATAFRAME:

In [210]:
## Addting features in dataframe
df11=pd.DataFrame()
df11['Flight_name']=Flight_name
df11['Departure_time']=Departure_time
df11['Arrival_time']=Arrival_time
df11['Source']=['Lucknow']*25
df11['Destination']=['Kolkata']*25
df11['Duration']=Duration
df11['Total_stops']=Total_stops
df11['Date_of_journey']=['28/05/2022']*25
df11['Website_name']=['Flipkart.com']*25
df11['Price']=Price

## Kochi to Kolkata:

In [211]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=COK-CCU-29052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(3)

In [212]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [213]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

35 35 35 0 0 35 35 35

## Creating A DATAFRAME:

In [214]:
## Addting features in dataframe
df12=pd.DataFrame()
df12['Flight_name']=Flight_name
df12['Departure_time']=Departure_time
df12['Arrival_time']=Arrival_time
df12['Source']=['Kochi']*35
df12['Destination']=['Kolkata']*35
df12['Duration']=Duration
df12['Total_stops']=Total_stops
df12['Date_of_journey']=['29/05/2022']*35
df12['Website_name']=['Flipkart.com']*35
df12['Price']=Price

## Ahmedabad to Banglore:

In [216]:
driver.get('https://www.flipkart.com/travel/flights/search?trips=AMD-BLR-29052022&travellers=1-0-0&class=e&tripType=ONE_WAY&isIntl=false&source=Search%20Modify%20Form')
time.sleep(2)

In [217]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="ZLipHt"]')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="_2l73WS _1ljBda"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="_43sblo _1ljBda"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[1]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_2-kTRm"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
        Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="_3uUoiD"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [218]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

40 40 40 0 0 40 40 40

## Creating A DATAFRAME:

In [219]:
## Addting features in dataframe
df13=pd.DataFrame()
df13['Flight_name']=Flight_name
df13['Departure_time']=Departure_time
df13['Arrival_time']=Arrival_time
df13['Source']=['Ahmedabad']*40
df13['Destination']=['Banglore']*40
df13['Duration']=Duration
df13['Total_stops']=Total_stops
df13['Date_of_journey']=['29/05/2022']*40
df13['Website_name']=['Flipkart.com']*40
df13['Price']=Price

# `Addling All the DataFrames:`

In [220]:
new_df=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13],axis=0)
new_df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,GO FIRST,08:30,16:35,New Delhi,Hyderabad,8h 5m,1 stop - LKO,30/05/2022,Flipkart.com,"₹8,053"
1,SpiceJet,11:55,21:00,New Delhi,Hyderabad,9h 5m,1 stop - JRG,30/05/2022,Flipkart.com,"₹8,053"
2,GO FIRST,07:00,19:50,New Delhi,Hyderabad,12h 50m,1 stop - BOM,30/05/2022,Flipkart.com,"₹8,053"
3,GO FIRST,06:00,19:50,New Delhi,Hyderabad,13h 50m,1 stop - BOM,30/05/2022,Flipkart.com,"₹8,053"
4,IndiGo,19:30,21:40,New Delhi,Hyderabad,2h 10m,Non stop,30/05/2022,Flipkart.com,"₹8,264"
...,...,...,...,...,...,...,...,...,...,...
35,IndiGo,08:50,13:10,Ahmedabad,Banglore,4h 20m,1 stop - HYD,29/05/2022,Flipkart.com,"₹21,546"
36,GO FIRST,13:45,20:55,Ahmedabad,Banglore,7h 10m,1 stop - VNS,29/05/2022,Flipkart.com,"₹21,729"
37,SpiceJet,07:55,19:30,Ahmedabad,Banglore,11h 35m,1 stop - PAT,29/05/2022,Flipkart.com,"₹22,911"
38,Vistara,06:45,11:50,Ahmedabad,Banglore,5h 5m,1 stop - DEL,29/05/2022,Flipkart.com,"₹23,437"
39,Air India,21:30,12:30,Ahmedabad,Banglore,15h,1 stop - DEL,29/05/2022,Flipkart.com,"₹26,692"

## `Saving in Local`

In [223]:
new_df.to_csv(r"E:\Flight_data\Flipkart_total_data.csv")

In [224]:
driver.close()

## 3. `goibibo.com`

## Delhi to Banglore:

In [254]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [22]:
driver.get('https://www.goibibo.com/flights/air-DEL-BLR-20220530--1-0-0-E-D?utm_source=google&utm_medium=cpc&utm_campaign=DF-Generic-EM&utm_content=Flight-Exact&utm_term=%21SEM%21DF%21G%21Generic%21ETA%2112554947352%21121063961682%21506722407056%21e%21online+flight+booking%21c%21&gclid=CjwKCAjwkMeUBhBuEiwA4hpqEKa3nsnY7-xfcQk8e1M1WGH2tTd2p2H7UfJnhuOrs50N5UJc03Y9OxoC61QQAvD_BwE&exp=n')
time.sleep(3)

## applying filter by 'Non Stop' Flights

In [7]:
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[5]/div/div[2]/label[1]').click()

In [8]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//span[@class="font13 padL5 black"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii padT10 fb"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii fb  padT10"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__DurTime-sc-3flq99-16 jVRTyZ fb padT10"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="font12 grey"]//span[2]')
    for i in tags:
        Source.append(i.text)
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="truncate font12 grey"]//span[2]')
    for i in tags:
        Destination.append(i.text)
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="srp-card-uistyles__Price-sc-3flq99-17 jJioUu alignItemsCenter dF fb lh1 padT5"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [9]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

13 13 13 13 13 13 0 13

In [10]:
Total_stops= ['Non Stop']*13

## Applying Filter by '1-stop' Flights

In [11]:
## removing the previous filter
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[5]/div/div[2]/label[1]').click()

## applying 1-stop flight filter
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[5]/div/div[2]/label[2]').click()

In [12]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="font13 padL5 black"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii padT10 fb"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii fb  padT10"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__DurTime-sc-3flq99-16 jVRTyZ fb padT10"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="font12 grey"]//span[2]')
    for i in tags:
        Source.append(i.text)
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="truncate font12 grey"]//span[2]')
    for i in tags:
        Destination.append(i.text)
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="srp-card-uistyles__Price-sc-3flq99-17 jJioUu alignItemsCenter dF fb lh1 padT5"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [13]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

33 33 33 33 33 33 13 33

In [14]:
Total_stops1=['1-stop']*20

In [16]:
TotalStops=Total_stops+Total_stops1
len(TotalStops)

33

## Creating A DATAFRAME:

In [17]:
## Addting features in dataframe
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=TotalStops
df['Date_of_journey']=['30/05/2022']*33
df['Website_name']=['goibibo.com']*33
df['Price']=Price

In [18]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,IndiGo,16:05,17:30,Mumbai,Hyderabad,1h 25m,Non Stop,30/05/2022,goibibo.com,"5,628"
1,IndiGo,17:15,18:30,Mumbai,Hyderabad,1h 15m,Non Stop,30/05/2022,goibibo.com,"5,628"
2,IndiGo,18:05,19:30,Mumbai,Hyderabad,1h 25m,Non Stop,30/05/2022,goibibo.com,"5,628"
3,Go First,18:20,19:50,Mumbai,Hyderabad,1h 30m,Non Stop,30/05/2022,goibibo.com,"5,628"
4,IndiGo,19:55,21:20,Mumbai,Hyderabad,1h 25m,Non Stop,30/05/2022,goibibo.com,"5,628"
5,Vistara,19:20,20:55,Mumbai,Hyderabad,1h 35m,Non Stop,30/05/2022,goibibo.com,"5,629"
6,Vistara,21:20,22:40,Mumbai,Hyderabad,1h 20m,Non Stop,30/05/2022,goibibo.com,"6,364"
7,IndiGo,11:10,12:40,Mumbai,Hyderabad,1h 30m,Non Stop,30/05/2022,goibibo.com,"6,857"
8,IndiGo,06:05,07:30,Mumbai,Hyderabad,1h 25m,Non Stop,30/05/2022,goibibo.com,"8,726"
9,IndiGo,09:00,10:25,Mumbai,Hyderabad,1h 25m,Non Stop,30/05/2022,goibibo.com,"9,251"
10,Vistara,06:20,07:50,Mumbai,Hyderabad,1h 30m,Non Stop,30/05/2022,goibibo.com,"9,724"
11,Vistara,10:45,12:15,Mumbai,Hyderabad,1h 30m,Non Stop,30/05/2022,goibibo.com,"10,511"
12,IndiGo,07:15,08:45,Mumbai,Hyderabad,1h 30m,Non Stop,30/05/2022,goibibo.com,"11,823"
13,SpiceJet,14:15,09:15,Mumbai,Hyderabad,19h 00m,1-stop,30/05/2022,goibibo.com,"10,442"
14,AirAsia,22:00,08:45,Mumbai,Hyderabad,10h 45m,1-stop,30/05/2022,goibibo.com,"10,826"
15,AirAsia,18:10,08:45,Mumbai,Hyderabad,14h 35m,1-stop,30/05/2022,goibibo.com,"10,826"
16,AirAsia,15:40,21:25,Mumbai,Hyderabad,5h 45m,1-stop,30/05/2022,goibibo.com,"11,246"
17,AirAsia,15:40,19:45,Mumbai,Hyderabad,4h 05m,1-stop,30/05/2022,goibibo.com,"11,876"
18,IndiGo,22:20,08:35,Mumbai,Hyderabad,10h 15m,1-stop,30/05/2022,goibibo.com,"11,876"
19,SpiceJet,14:15,20:20,Mumbai,Hyderabad,6h 05m,1-stop,30/05/2022,goibibo.com,"11,924"
20,Vistara,16:00,21:10,Mumbai,Hyderabad,5h 10m,1-stop,30/05/2022,goibibo.com,"12,033"
21,Air India,06:10,12:55,Mumbai,Hyderabad,6h 45m,1-stop,30/05/2022,goibibo.com,"12,033"
22,Vistara,21:30,08:55,Mumbai,Hyderabad,11h 25m,1-stop,30/05/2022,goibibo.com,"12,033"
23,Vistara,19:10,08:55,Mumbai,Hyderabad,13h 45m,1-stop,30/05/2022,goibibo.com,"12,033"
24,Vistara,17:30,21:10,Mumbai,Hyderabad,3h 40m,1-stop,30/05/2022,goibibo.com,"13,083"
25,IndiGo,22:20,03:20,Mumbai,Hyderabad,5h 00m,1-stop,30/05/2022,goibibo.com,"13,136"
26,IndiGo,16:55,03:20,Mumbai,Hyderabad,10h 25m,1-stop,30/05/2022,goibibo.com,"13,136"
27,SpiceJet,15:35,22:40,Mumbai,Hyderabad,7h 05m,1-stop,30/05/2022,goibibo.com,"14,778"
28,IndiGo,16:55,23:15,Mumbai,Hyderabad,6h 20m,1-stop,30/05/2022,goibibo.com,"15,551"
29,IndiGo,09:40,17:15,Mumbai,Hyderabad,7h 35m,1-stop,30/05/2022,goibibo.com,"15,866"
30,IndiGo,04:55,08:35,Mumbai,Hyderabad,3h 40m,1-stop,30/05/2022,goibibo.com,"16,769"
31,IndiGo,14:00,23:15,Mumbai,Hyderabad,9h 15m,1-stop,30/05/2022,goibibo.com,"16,916"
32,IndiGo,11:25,15:35,Mumbai,Hyderabad,4h 10m,1-stop,30/05/2022,goibibo.com,"17,819"

## Saving in a Local

In [19]:
df.to_csv(r"E:\Flight_data\goibibo_mum_hyder.csv")

## Delhi To bengaluru

In [23]:
driver.get('https://www.goibibo.com/flights/air-DEL-BLR-20220530--1-0-0-E-D?utm_source=google&utm_medium=cpc&utm_campaign=DF-Generic-EM&utm_content=Flight-Exact&utm_term=%21SEM%21DF%21G%21Generic%21ETA%2112554947352%21121063961682%21506722407056%21e%21online+flight+booking%21c%21&gclid=CjwKCAjwkMeUBhBuEiwA4hpqEKa3nsnY7-xfcQk8e1M1WGH2tTd2p2H7UfJnhuOrs50N5UJc03Y9OxoC61QQAvD_BwE&exp=n')
time.sleep(3)

## applying filter by 'Non Stop' Flights

In [235]:
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[6]/div/div[2]/label[1]/span').click()

In [236]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//span[@class="font13 padL5 black"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii padT10 fb"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii fb  padT10"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__DurTime-sc-3flq99-16 jVRTyZ fb padT10"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="font12 grey"]//span[2]')
    for i in tags:
        Source.append(i.text)
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="truncate font12 grey"]//span[2]')
    for i in tags:
        Destination.append(i.text)
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="srp-card-uistyles__Price-sc-3flq99-17 jJioUu alignItemsCenter dF fb lh1 padT5"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [237]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

33 33 33 33 33 33 0 33

In [238]:
Total_stops= ['Non Stop']*33

## Applying Filter by '1-stop' Flights

In [241]:
## removing the previous filter
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[6]/div/div[2]/label[1]/span').click()

## applying 1-stop flight filter
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[6]/div/div[2]/label[2]/span').click()

In [242]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="font13 padL5 black"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii padT10 fb"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii fb  padT10"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__DurTime-sc-3flq99-16 jVRTyZ fb padT10"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="font12 grey"]//span[2]')
    for i in tags:
        Source.append(i.text)
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="truncate font12 grey"]//span[2]')
    for i in tags:
        Destination.append(i.text)
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="srp-card-uistyles__Price-sc-3flq99-17 jJioUu alignItemsCenter dF fb lh1 padT5"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [243]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

64 64 64 64 64 64 33 64

In [244]:
Total_stops1=['1-stop']*31

In [246]:

### applying 2 or 2+ stops flight filter
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[6]/div/div[2]/label[3]/span').click()

## removing 1-stop flight filter
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div[3]/div/div[1]/div/div/div[6]/div/div[2]/label[2]/span').click()

In [247]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="font13 padL5 black"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii padT10 fb"]')
    for i in tags:
        Departure_time.append(i.text)
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__Time-sc-3flq99-15 dsonii fb  padT10"]')
    for i in tags:
        Arrival_time.append(i.text)
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//span[@class="srp-card-uistyles__DurTime-sc-3flq99-16 jVRTyZ fb padT10"]')
    for i in tags:
        Duration.append(i.text)
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="font12 grey"]//span[2]')
    for i in tags:
        Source.append(i.text)
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="truncate font12 grey"]//span[2]')
    for i in tags:
        Destination.append(i.text)
except NoSuchElementException:
        Destination.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="srp-card-uistyles__Price-sc-3flq99-17 jJioUu alignItemsCenter dF fb lh1 padT5"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [248]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

65 65 65 65 65 65 33 65

In [249]:
stops=['2+stops']

TotalStops=Total_stops+Total_stops1+stops
len(TotalStops)

65

## Creating A DATAFRAME:

In [250]:
## Addting features in dataframe
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=TotalStops
df['Date_of_journey']=['30/05/2022']*65
df['Website_name']=['goibibo.com']*65
df['Price']=Price

In [251]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,IndiGo,22:55,01:45,New Delhi,Bengaluru,2h 50m,Non Stop,30/05/2022,goibibo.com,"9,734"
1,IndiGo,20:10,23:00,New Delhi,Bengaluru,2h 50m,Non Stop,30/05/2022,goibibo.com,"10,207"
2,IndiGo,18:30,21:15,New Delhi,Bengaluru,2h 45m,Non Stop,30/05/2022,goibibo.com,"10,732"
3,IndiGo,21:30,00:15,New Delhi,Bengaluru,2h 45m,Non Stop,30/05/2022,goibibo.com,"10,732"
4,Vistara,19:50,22:40,New Delhi,Bengaluru,2h 50m,Non Stop,30/05/2022,goibibo.com,"10,785"
...,...,...,...,...,...,...,...,...,...,...
60,IndiGo,15:15,20:30,New Delhi,Bengaluru,5h 15m,1-stop,30/05/2022,goibibo.com,"16,297"
61,Vistara,14:45,19:30,New Delhi,Bengaluru,4h 45m,1-stop,30/05/2022,goibibo.com,"16,455"
62,Vistara,12:50,17:45,New Delhi,Bengaluru,4h 55m,1-stop,30/05/2022,goibibo.com,"16,560"
63,Go First,10:40,15:05,New Delhi,Bengaluru,4h 25m,1-stop,30/05/2022,goibibo.com,"29,161"
64,Multi-Airline,08:30,22:15,New Delhi,Bengaluru,13h 45m,2+stops,30/05/2022,goibibo.com,"13,634"

## Saving in a Local

In [252]:
df.to_csv(r"E:\Flight_data\goibibo_del_Bangl.csv")

## 4. `Travalook.com`

In [24]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [26]:
driver.get('https://www.travolook.in/Result/availability?q=b9bc3f19-80d3-4775-ba5f-be373f0188e4')

In [27]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [28]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

162 162 162 162 162 162 162 162

## Ahmedabad to Goa

In [37]:
driver.get('https://www.travolook.in/Result/availability?q=740949b3-c956-434d-ba5d-1347b5919dea')
time.sleep(3)

In [42]:
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [43]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

263 263 263 263 263 263 263 263

## Delhi to Guwahati

In [ ]:
driver.get('https://www.travolook.in/Result/availability?q=740949b3-c956-434d-ba5d-1347b5919dea')
time.sleep(3)

In [44]:
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [45]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

356 356 356 356 356 356 356 356

## Mumbai to Srinagar:

In [49]:
driver.get('https://www.travolook.in/Result/availability?q=736c83df-ed00-43c3-9436-351134823240')
time.sleep(3)

In [47]:
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [48]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

461 461 461 461 461 461 461 461

## Hyderabad to calicut:

In [50]:
driver.get('https://www.travolook.in/Result/availability?q=8105483a-7294-419e-8f5f-d80830ada900')
time.sleep(3)

In [51]:
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [52]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

493 493 493 493 493 493 493 493

## Srinagar to Goa

In [53]:
driver.get('https://www.travolook.in/Result/availability?q=b4a611bd-7673-413d-b328-eb1ef1577398')
time.sleep(3)

In [54]:
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [55]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

583 583 583 583 583 583 583 583

## Kochi to Bengaluru:

In [56]:
driver.get('https://www.travolook.in/Result/availability?q=f3358174-b9f9-4f1b-b2dc-f2871ca6b64d')
time.sleep(3)

In [57]:
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [58]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

637 637 637 637 637 637 637 637

## Guwahati to Kolkata:

In [59]:
driver.get('https://www.travolook.in/Result/availability?q=a6309618-3727-49f6-9aab-f0095b630cd8')
time.sleep(3)

In [60]:
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 col-sm-3 pdl0 pdr0 airline"]//span')
    for i in tags:
        Flight_name.append(i.text.split('\n')[0])
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0 text-right"]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-5 pdl0 pdr0"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-3 timstop text-center pdl0 pdr0"]')
    for i in tags:
        Total_stops.append(i.text.split('\n')[1])
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-2 pdl0 pdr0 text-center"]//p[@class="price text-center"]')
    for i in tags:
        Price.append(i.text)
except NoSuchElementException:
        Price.append('-')

In [61]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

702 702 702 702 702 702 702 702

## Creating A DATAFRAME:

In [62]:
## Addting features in dataframe
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=['31/05/2022']*702
df['Website_name']=['travolook.com']*702
df['Price']=Price

In [63]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Go First,05:40,08:00,Kolkata,Delhi,2h 20m,Non Stop,31/05/2022,travolook.com,8604
1,Go First,14:35,17:05,Kolkata,Delhi,2h 30m,Non Stop,31/05/2022,travolook.com,8604
2,SpiceJet,06:35,09:05,Kolkata,Delhi,2h 30m,Non Stop,31/05/2022,travolook.com,8604
3,SpiceJet,15:30,17:55,Kolkata,Delhi,2h 25m,Non Stop,31/05/2022,travolook.com,8604
4,SpiceJet,21:30,23:55,Kolkata,Delhi,2h 25m,Non Stop,31/05/2022,travolook.com,8604
...,...,...,...,...,...,...,...,...,...,...
697,Vistara,13:05,08:20+1D,Guwahati,Kolkata,19h 15m,2 Stops,31/05/2022,travolook.com,24469
698,Vistara,13:05,08:20+1D,Guwahati,Kolkata,19h 15m,2 Stops,31/05/2022,travolook.com,24469
699,Vistara,13:30,09:40+1D,Guwahati,Kolkata,20h 10m,2 Stops,31/05/2022,travolook.com,27637
700,Air India,15:55,08:15+1D,Guwahati,Kolkata,16h 20m,2 Stops,31/05/2022,travolook.com,30037
701,Vistara,13:30,09:40+1D,Guwahati,Kolkata,20h 10m,2 Stops,31/05/2022,travolook.com,31937

## Saving in a local:

In [64]:
## saving in a Local:
df.to_csv(r"E:\Flight_data\Travolook_all_data.csv")

## 5. `EaseMyTrip.com`

## Bangoluru to Mumabi:

In [99]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=BLR-Bangalore-India|BOM-Mumbai-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(4)

In [100]:
Flight_name=[]
Departure_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Duration=[]
Total_stops=[]
Route=[]
Price=[]


try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [101]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

132 132 132 132 132 132 132 132

## Hyderabad to Chennai:

In [102]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=HYD-Hyderabad-India|MAA-Chennai-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(2)

In [103]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [104]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

218 218 218 218 218 218 218 218

## Delhi To Srinagar:

In [105]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|SXR-Srinagar-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(2)

In [106]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [107]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

274 274 274 274 274 274 274 274

## Jaipur to Ahmedabad:

In [108]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=JAI-Jaipur-India|AMD-Ahmedabad-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(3)

In [109]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [110]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

293 293 293 293 293 293 293 293

## Chennai to Kolkata:

In [111]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=MAA-Chennai-India|CCU-Kolkata-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(2)

In [112]:

try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [113]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

393 393 393 393 393 393 393 393

## Delhi To Goa:

In [114]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=MAA-Chennai-India|CCU-Kolkata-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(2)

In [115]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [116]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

493 493 493 493 493 493 493 493

## Delhi To Guwahati:

In [117]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=DEL-NewDelhi-India|GAU-Guwahati-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(2)

In [118]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [119]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

565 565 565 565 565 565 565 565

## Delhi to Mumbai:

In [120]:
driver.get('https://flight.easemytrip.com/FlightList/Index?srch=DEL-NewDelhi-India|BOM-Mumbai-India|30/05/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lang=&CouponCode=&ompAff=&bc=&ISWL=')
time.sleep(3)

In [121]:
try:
    tags=driver.find_elements_by_xpath('//span[@class="txt-r4 ng-binding"]')
    for i in tags:
        Flight_name.append(i.text)
except NoSuchElementException:
        Flight_name.append('-')

try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Departure_time.append(i.text.split('\n')[0])
    
except NoSuchElementException:
        Departure_time.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Arrival_time.append(i.text.split('\n')[0])
except NoSuchElementException:
        Arrival_time.append('-')
        
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]')
    for i in tags:
        Duration.append(i.text.split('\n')[0])
except NoSuchElementException:
        Duration.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-4 top5 "]')
    for i in tags:
        Source.append(i.text.split('\n')[1])
except NoSuchElementException:
        Source.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-3 top5"]')
    for i in tags:
        Destination.append(i.text.split('\n')[1])
except NoSuchElementException:
        Destination.append('-')
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 non-st"]//span[2]')
    for i in tags:
        Total_stops.append(i.text)
except NoSuchElementException:
    Total_stops.append('-')
        
try:
    tags=driver.find_elements_by_xpath('//div[@class="col-md-2 col-sm-2 col-xs-5 mr5 cle"]')
    for i in tags:
        Price.append(i.text.split('\n')[0])
except NoSuchElementException:
        Price.append('-')

In [122]:
print(len(Flight_name),len(Departure_time),len(Arrival_time),len(Source),len(Destination),len(Duration),len(Total_stops),
      len(Price))

707 707 707 707 707 707 707 707

## Creating A DATAFRAME:

In [123]:
## Addting features in dataframe
df=pd.DataFrame()
df['Flight_name']=Flight_name
df['Departure_time']=Departure_time
df['Arrival_time']=Arrival_time
df['Source']=Source
df['Destination']=Destination
df['Duration']=Duration
df['Total_stops']=Total_stops
df['Date_of_journey']=['30/05/2022']*707
df['Website_name']=['EaseMyTrip.com']*707
df['Price']=Price

In [124]:
df

,Flight_name,Departure_time,Arrival_time,Source,Destination,Duration,Total_stops,Date_of_journey,Website_name,Price
0,Indigo,04:40,06:15,Bangalore,Mumbai,01h 35m,non-stop,30/05/2022,EaseMyTrip.com,"7,054"
1,Indigo,06:00,07:35,Bangalore,Mumbai,01h 35m,non-stop,30/05/2022,EaseMyTrip.com,"7,054"
2,Indigo,22:55,00:30,Bangalore,Mumbai,01h 35m,non-stop,30/05/2022,EaseMyTrip.com,"7,054"
3,Indigo,07:00,08:50,Bangalore,Mumbai,01h 50m,non-stop,30/05/2022,EaseMyTrip.com,"7,054"
4,Vistara,06:40,08:15,Bangalore,Mumbai,01h 35m,non-stop,30/05/2022,EaseMyTrip.com,"7,054"
...,...,...,...,...,...,...,...,...,...,...
702,SpiceJet,09:25,16:10,Delhi,Mumbai,06h 45m,1-stop,30/05/2022,EaseMyTrip.com,"28,408"
703,SpiceJet,06:25,16:10,Delhi,Mumbai,09h 45m,1-stop,30/05/2022,EaseMyTrip.com,"28,408"
704,SpiceJet,06:25,13:35,Delhi,Mumbai,07h 10m,1-stop,30/05/2022,EaseMyTrip.com,"29,564"
705,Vistara,07:30,13:00,Delhi,Mumbai,05h 30m,1-stop,30/05/2022,EaseMyTrip.com,"32,205"
706,Vistara,11:45,16:15,Delhi,Mumbai,28h 30m,1-stop,30/05/2022,EaseMyTrip.com,"33,255"

## Saving in a local:

In [125]:
## saving in a Local:
df.to_csv(r"E:\Flight_data\EaseMyTrip_all_data.csv")